Other/XmlCreator/asset_question_pool_validator.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="questionPool" type="questionPool"></xs:element>

  <xs:simpleType name="questionText">
    <xs:restriction base="xs:string">
       <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="questionInfo">
    <xs:annotation>
      <xs:documentation>
        text: the question text. feedback: the default question
        feedback displayed to students. note: a question note
        displayed to instructors. learningObjective: 0 or more
        learning objectives for the question.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="hid" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="tags" type="tags" minOccurs="0" maxOccurs="1" />
      <xs:element name="qtype" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="richText" type="questionText" minOccurs="1" maxOccurs="1" />
      <xs:element name="feedback" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="note" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="learningObjectives" type="learningObjectives" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="answers" type="answers" minOccurs="0" maxOccurs="1"></xs:element>
      <xs:element name="hints" type="hints" minOccurs="0" maxOccurs="1"></xs:element>
    </xs:sequence>
    <xs:attribute name="weight" type="xs:int"></xs:attribute>
    <xs:attribute name="random" type="xs:boolean"></xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="answers">
    <xs:sequence>
      <xs:element name="answer" type="answer" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="hints">
    <xs:sequence>
      <xs:element name="hint" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="learningObjectives">
    <xs:sequence>
      <xs:element name="hid" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="questionPool">
    <xs:sequence>
      <xs:element name="hid" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="tags" type="tags" minOccurs="0" maxOccurs="1" />
      
      <xs:element name="questionPoolSet" type="questionPoolSet" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="questionPoolSet" mixed="false">
    <xs:sequence>
      <xs:element name="question" type="questionInfo" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
    <xs:attribute name="weight" type="xs:int"></xs:attribute>
    <xs:attribute name="pick" type="xs:int"></xs:attribute>
  </xs:complexType>
  
  <xs:complexType name="answer">
    <xs:sequence>
      <xs:element name="correct" type="xs:string"></xs:element>
      <xs:element name="points" type="xs:int"></xs:element>
      <xs:element name="value" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="tags">
    <xs:sequence>
      <xs:element name="tag" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>